.buttonOption{
    border-radius: 5px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card-Format{
    border-radius: 15px;
    border-color: rgba(54, 53, 53, 0.493);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .toolbar-color{
    background-color: rgb(93, 146, 170);
  }

  .buttonCookie{
      border-radius: 8px;
      background-color: rgb(162, 188, 214);
      margin-left: 30px;
      margin-top: 20px;
      margin-bottom: 50px;
  }