<mat-toolbar class="toolbar-color">
  <mat-icon>search</mat-icon>

  <form class="form-inline" (submit)="searchSongs(Sound)">
    <input type="text" class="form-control form-control-sm" placeholder="s o u n d" #Sound>
    <button class="buttonSearch float-right btn-light btn-sm">search</button>
  </form>

</mat-toolbar>

<mat-card class="card-Format" *ngFor="let result of results">

  <mat-card-content>
    <h2>
      {{result.name}}
      <button class="buttonOption float-right btn btn-dark btn-sm" (click)="playPreview(result)">Play</button>
      <button class="buttonOption float-right btn btn-dark btn-sm" (click)="saveLiked(result)">Like</button>
    </h2>
  </mat-card-content>
  
</mat-card>
